# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Library
TowerBlock.sln
TowerBlock.userprefs
.gitattributes
044cce3bc85b1694d9d60a151c7b910c.clust
/Temp/ProcessJobs/52f999ca2723da875537a8c6396fe5ab.clust
73a49c7e361314028cdf0557dd78c709.clust
81c3b44ff075f3d2ca1a2d540f7657e4.lt
81c3b44ff075f3d2ca1a2d540f7657e4.vis
9a5029772f7513990b2c1ba600ee5f37.lt
9a5029772f7513990b2c1ba600ee5f37.vis
e6813bfd70e91c1e30a4f0b034fdaa3a.clust
ProcessJobs
clase9_5.sln
clase9_5.userprefs
Assembly-CSharp.csproj
